{% extends 'base.html.twig' %}
{% block head %}
<head>
  {% block stylesheets %}
  <link href="css/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  {% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <div id="login-page" class="row auth">
    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
      <div class="pre-panel">
          <a href="/"><img src="/images/logo_sans_texte.png" alt=""></a>
          <h3><font color="white"><b>Pops1819</b></font></h3>
      </div>
      <div class="panel">
        <form class="login-form" method="post" action="{{ path('login') }}">
          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" class="form-control" id="_username" name="_username" value="{{last_username}}" required autofocus>
              <label for="_username" class="center-align">Username</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input type="password" class="form-control" id="_password"  name="_password" required>
              <label for="_password">Mot de Passe</label>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember">
              <label for="remember">Remember me</label>
            </div>
          </div>
          -->
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" class="btn waves-effect waves-light col s12">SE CONNECTER</button>
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <div class="row">
            <div class="input-field col s12 m12 l12">
                <p class="margin right-align medium-small"><a href="page-forgot-password.html">Mot de Passe oublié ?</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}
