{% extends 'base.html.twig' %}
{% block head %}
<head>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/login.css">.
  {% endblock %}
</head>
{% endblock %}
{% block body %}
<div class="row auth">
  <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
    <div class="pre-panel">
      <a href="/"><img src="/images/logo_sans_texte.png" alt=""></a>
      <h3><font color="white">Pops1819</font></h3>
    </div>
    <div class="panel">
      <form method="post" action="{{ path('login') }}" class="col s12">
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class = "row">
          <div class = "row">
          <div><i class="material-icons">account_circle</i></div>
          <div><input type="username" class="form-control" name="_username" id="_username" value="{{last_username}}" placeholder="Nom d'utilisateur" required autofocus></div></div>
          
          <div class="row">
          <div><i class="material-icons">lock</i></div>
          <div><input type="password" class="form-control" id="_password"  name="_password" placeholder="Mot de passe" required></div>
        </div></div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
          Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="_remember_me"> Remember me
          </label>
        </div>
        #}
      <button type="submit" class="btn btn-primary mb-2">Se connecter</button>
    </form>
  </div>
  </div>
</div>
{% endblock %}
