{% extends 'base.html.twig' %}

{% block body %}
<div class="row auth">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="pre-panel">
            <a href="/"><img src="/images/logo_sans_texte.png" alt=""></a>
            <h3>Pops1819</h3>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form method="post" action="{{ path('login') }}">
                  {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}
                  <div class="form-group">
                    <label for="_username">Nom d'utilisateur:</label>
                    <input type="username" class="form-control" name="_username" id="_username" value="{{last_username}}" placeholder="name@example.com" required autofocus>
                  </div>
                  <div class="form-group">
                    <label for="_password">Mot de passe :</label>
                    <input type="password" class="form-control" id="_password"  name="_password" placeholder="Password" required>
                  </div>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                  {#
                      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                      See https://symfony.com/doc/current/security/remember_me.html

                      <div class="checkbox mb-3">
                          <label>
                              <input type="checkbox" name="_remember_me"> Remember me
                          </label>
                      </div>
                  #}
                  <button type="submit" class="btn btn-primary mb-2">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
