{% extends 'base.html.twig' %}

{% block body %}
<div class="row auth">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="pre-panel">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <div class="panel">
            <div class="panel-body">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
