{% extends 'topBar.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block body %}
<div class="row p-2">
    <div class="card-panel col s8">
        <h5>Notifications</h5>
        <div class="divider"></div>
        <table class="responsive-table highlight">
            <thead>
            <tr class="black white-text">
                <th>Catégorie</th>
                <th>Detail</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
            <!--{% for collaborateur in listeCollaborateurs %}
                <tr>
                    <td>{{ collaborateur }}</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            {% endfor %}-->
            </tbody>
        </table>
    </div>
    <div class="col s4 h-100">
        <div class="card-panel p-1">
            <h5>Accès rapide</h5>
            <div class="divider"></div>
            6-columns (one-half)
        </div>
        <div class="card-panel p-1">
            <h5>Mes missions</h5>
            <div class="divider"></div>
            6-columns (one-half)
        </div>
    </div>
</div>

{% endblock %}

{% block researchBar %}
    <script>
        $(document).ready(function(){
            $('input.validate').autocomplete({
            data: {{ listeCollaborateurs|json_encode|raw }},
            });
        });
    </script>
{% endblock %}