
body {
  height: 100%;
  background-image: url("/images/background_login.png");
}

#rowButton{
  margin-top : 0;
}

#rowInfos{
  margin-bottom : 0;
}
#fileField{
  margin-left: 3%;
}

#bigTitle{
  color: #004d99;
  font-weight: 700;
  font-size: 40px;
}

#normalTitle{
  font-weight: 430;
  font-size: 30px;
}

#debutProfil{
  width : 100%;
}

.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
}

.card-image {
    height: 250px;
    position: relative;
}

.card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

div {
    display: block;
}
